@charset "UTF-8";
@import '_variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

main {
  outline: transparent;
  //margin-top: $bootstrap-navbar-height;
  margin-top: 1rem;
  min-height: 19rem;
}

footer.home-footer {
  @extend .py-2;
  margin-top: 1rem;
  color: $navbar-light-color;
  text-align: center;
}

.render-cont-outer {
  align-content: center;
  //bottom: 1rem;
  display: flex;
  flex-direction: column;

  left: 1rem;
  position: absolute;
  right: 1rem;
  top: $bootstrap-navbar-height;
  bottom: 1rem;
}

.render-canvas {
  flex: 1;
  //border: 1px solid black;
  min-height: 15rem;
  min-width: 0;
}

// For Safari/iOS
canvas.render-canvas:focus {
  outline: none;
}
